<div class="cont-table">
    <table>
        <thead>
        <tr class="heading">
            <th><input type="checkbox" /></th>
            <th>Tour Name</th>
            <th style="text-align: center">Total Earnings($)</th>
            <th style="text-align: center">Total Booking</th>
            <th style="text-align: center">Duration</th>
            <th style="text-align: center">Price/head($)</th>
            <th style="text-align: center">Timeline</th>
            <th style="text-align: center">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>
                <div class="cell-tour-name">
                    <div class="tour-img-inf">
                        <img th:src="@{/images/destination-1.jpg}" alt="" />
                    </div>
                    <div class="tour-name-inf">
                        <span class="tour-name">Destination name21</span>
                        <span class="tour-id">#ID23</span>
                    </div>
                </div>
            </td>
            <td class="total-earnings-value">
                <div class="cell-total-earnings">
                    <span class="main-total-earnings-value">150K</span>
                    <span class="rate-value">5.5k</span>
                </div>
            </td>
            <td class="total-booking-value">250</td>
            <td class="duration-value">10 Days</td>
            <td class="price-value">$490</td>
            <td class="timeline-value">
                <div class="cell-timeline">
                    <span>June 1, 2023</span>
                    <span>June 10, 2023</span>
                </div>
            </td>
            <td class="action-value">
                <div class="cell-action">
                    <span class="material-symbols-outlined"> edit </span>
                    <span class="material-symbols-outlined"> delete </span>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>
                <div class="cell-tour-name">
                    <div class="tour-img-inf">
                        <img th:src="@{/images/destination-1.jpg}" alt="" />
                    </div>
                    <div class="tour-name-inf">
                        <span class="tour-name">Destination name21</span>
                        <span class="tour-id">#ID23</span>
                    </div>
                </div>
            </td>
            <td class="total-earnings-value">
                <div class="cell-total-earnings">
                    <span class="main-total-earnings-value">150K</span>
                    <span class="rate-value">5.5k</span>
                </div>
            </td>
            <td class="total-booking-value">250</td>
            <td class="duration-value">10 Days</td>
            <td class="price-value">$490</td>
            <td class="timeline-value">
                <div class="cell-timeline">
                    <span>June 1, 2023</span>
                    <span>June 10, 2023</span>
                </div>
            </td>
            <td class="action-value">
                <div class="cell-action">
                    <span class="material-symbols-outlined"> edit </span>
                    <span class="material-symbols-outlined"> delete </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>